/* ------------footer---------------- */
.container-8{
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 40px 3%;
}
.footer-left{
    display: flex;
    flex-direction: column;
}
.footer-btn-social a{
    width: 100%;
    margin: 0 5px;
}
.footer-btn-social img{
    width: 30px;
}
.copyright p{
    color: #B6B6B6;
    font-size: 12px;
}
.footer-menu{
    display: flex;
    gap: 30px;
}
.footer-menu h4{
    font-size: 14px;
    margin-bottom: 15px;
    color: #B64DE8;
}
.footer-menu li{
    line-height: 18px;
    font-size: 14px;
    margin: 5px 0;
}
.about-us a{
    text-decoration: none;
    color: #7E7E7E;
}
.about-us li:hover a{
    color: #B64DE8;
}
/* -----------project--------*/
.personal-project{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4E4E4E;
}
.personal-project p{
    color: #fff;
    font-size: 12px;
}
/* -----------------RWD------------------- */
@media screen and (max-width:767.99999999px){
    /*-------------- footer ------------------*/
    .footer-wrap{
        width: 384px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px 0;
    }
    .footer-btn-social{
        margin: auto;
        padding-bottom: 10px;
    }
    .footer-btn-social a{
        margin: 5px;
    }
    .footer-btn-social img{
        width: 35px;
    }
    .copyright p{
        color: #B6B6B6;
        font-size: 12px;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin-top: 40px;
    }
    .footer-menu h4{
        font-size: 14px;
        color: #B64DE8;
        margin-bottom: 10px;
    }
    .footer-menu li{
        line-height: 20px;
        font-size: 14px;
        color: #7E7E7E;
    }
    .personal-project{
        height: 70px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #4E4E4E;
    }
    .personal-project p{
        margin: 0 12px;
        line-height: 18px;
        color: #fff;
        font-size: 12px;
    }
}
@media screen and (min-width:768px){
    .footer-left{
        gap: 20px;
    }
}
@media screen and (min-width:1024px){}
@media screen and (min-width:1200px){}