.container-19{
    height: 60px;
}
.container-20{
    display: flex;
    justify-content: center;
    background-color: #F5EFE6;
}
.shopping-cart-wrap{
    width: 1200px;
    height: 600px;
}
.shopping-step{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
}
.buy-step{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.buy-step .step2,.step3{
    color: #aeaeae;
}
.buy-step .circle01{
    background-color: #F5A74B;
    padding: 6px 9px;
    color: #fff;
    border-radius: 50%;
}
.buy-step .circle02,.circle03{
    background-color: #c4c4c4;
    padding: 8px 11px;
    color: #fff;
    border-radius: 50%;
}
.arrow img{
    width: 25px;
}
.cart-class-order{
    display: flex;
    gap: 100px;
}
.cart-class{
    display: flex;
    flex-direction: column;
}
.cart-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.cart-icon img{
    width: 20px;
}
.cart-icon p{
    font-size: 18px;
}
.cart-item-wrap{
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 190px;
    gap: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 50px;
}
.cart-item-menu{
    background-color: #F5A74B;
    border-radius: 5px 5px 0 0;
}
.cart-menu{
    display: flex;
    color: #fff;
    font-size: 14px;
    padding: 15px;
}
.cart-menu li:nth-child(2){
    padding-left: 25px;
    padding-right: 350px;
}
.cart-menu li:nth-child(2)~li{
    padding-left: 70px;
}
.cart-item-detail{
    display: flex;
    gap: 25px;
    padding:0 15px;
}
.class-detail{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.class-detail img{
    width: 180px;
    border-radius: 8px;
}
.cart-class-title{
    text-decoration: none;
    color: #333;
}
.class-detail-status{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.class-detail-status .status{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #B64DE8;
}
.class-detail-status p{
    font-size: 12px;
    color: #B64DE8;
}
.class-detail .class-type{
    color: rgb(159, 159, 159);
}
.class-type{
    margin-left: 18px;
}
.cart-item-detail .cart-btn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    align-self: center;
    margin-left: 30px;
    cursor: pointer;
}
.cart-btn img{
    width: 80%;
    height: auto;
}
.cart-order-wrap{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.cart-order-wrap>p{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #c4c4c4;
}
.price-dollar{
    display: flex;
    justify-content: space-between;
}
.price-dollar>p:first-child{
    color: #aeaeae;
}
.coupon{
    display: flex;
    justify-content: space-between;
    background-color: #FBF1FF;
    padding: 8px 10px;
    border-radius: 5px;
    align-items: center;
    color: #B64DE8;
}
.coupon img{
    width: 8px;
}
.coupon button{
    font-size: 12px;
    background-color: #B64DE8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
.coupon-price{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c4c4c4;
    padding-bottom: 10px;
}
.coupon-price>:first-child{
    color: #aeaeae;
    font-size: 12px;
}
.coupon-price>:last-child{
    color: #B64DE8;
}
.total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-price>:last-child{
    font-size: 20px;
    color: #B64DE8;
    font-weight: 700;
}
.pay-btn{
    background-color: #F5A74B;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.pay-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
}
.cart-save-icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.cart-save-icon p{
    font-size: 18px;
}
.cart-save-wrap{
    background-color: #fff;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-save-wrap a{
    text-decoration: none;
    color: #aeaeae;
    font-size: 14px;
    
}

